{#
/**
 * @file
 *
 * Available variables:
 * - user
 * - books
 * @ingroup themeable
 */
#}

<div class="row">
  <section class="offset-md-3 col-md-6">
    <h3 class="mt-5">Bienvenue {{ user.name }}</h3>
    {% for bookid in books %}
    <li>{{ bookid }}</li>
  {% endfor %}
  </section>
</div>
