#manage-books-section {
  #book-list {
    > section {
      border-bottom: 1px solid black;
      margin-bottom: 20px;
      .field--name-field-copy-book {
        .field__items {
    
          >.field__item {
            display: flex;
            justify-content: space-between;
            padding: 5px;
    
            &:nth-child(2n + 1) {
              background-color: $gray-300;
            }
          }
        }
    
      }
    }
  }
  
}